name: Azure Container Web App Deployment
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: list files
        run: ls -la

      - name: Check Docker version
        run: docker --version

      - name: Docker image build
        run: |
          docker build -t python_custom_app:latest .
          docker images

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Verify Azure Login
        run: |
          az account show
          az account list -o table
      - name: Create Resource Group
        run: |
          az group create \
            --name python-app-rg \
            --location eastus
