name: Azure Container Web App Deployment
on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: list files
        run: ls -la

      - name: Check Docker version
        run: docker --version

      - name: Docker image build
        run: |
          docker build -t python_custom_app:latest .
          docker images
